@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); /* font-family: 'Grape Nuts', cursive; */
/* :root {
  color-scheme: dark;
} */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.isDone {
  text-decoration: line-through;
}
